/*
 * Base structure
 */

html,
body {
  /*height: 100%;*/
  font-family: "Lato";
  font-style: normal;
}

/*
 * Globals
 */

/* Links */
/*a{
	
}
a:focus{
	
}
a:hover {
  color: #fff;
}*/

/* Buttons */
.btn-default {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-color: white;
  border-radius: 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.btn-default:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

.btn-default:active{
	color: #94c11f;
	background-color: white;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.btn-linkedin {
	color: white;
	font-size: 18px;
	border: 0px none;
	border-radius: 0px;
}

.btn-linkedin:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

.btn-linkedin:focus {
	color: #94c11f;
	background-color: white;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}


.btn-twitter {
	color: white;
	font-size: 18px;
	border: 0px none;
	border-radius: 0px;
	margin-left: -15px;
}

.btn-twitter:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

.btn-twitter:focus {
	color: #94c11f;
	background-color: white;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.btn-facebook {
	color: white;
	font-size: 20px;
	border: 0px none;
	border-radius: 0px;
	margin-left: -15px;
}

.btn-facebook:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

.btn-facebook:focus {
	color: #94c11f;
	background-color: white;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}


.texto{
	text-align: center;
	font-family: 'Lato';
	font-style: italic;
	font-size: 24px;
	font-weight: 300;
	color: white;
}

/* Navbar */
.navbar-inverse {
  background-color: black;
}
.navbar {
	border: 1px solid black;
}

/* Section Emakers */

#emakers {
	margin-top: 65px;
	margin-bottom: 65px;
}

.column-detail{
	margin-top: 90px;
	text-align: center;
}

.icon img{
	margin-bottom: 40px;
}

.element{
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	margin-bottom: 32px;
	height: 2px;
	width: 15px;
	border-style: none;
	border-bottom: 1px solid #0096d6;
	background-color: #0096d6;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
}

.description{
}

.title h4{
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.description p{
	font-size: 14px;
	font-weight: 400;
}

.description a{
	font-size: 14px;
	font-weight: 300;
	color: #0096d6;
}

#sedes{
	height: 480px;
}

.test{
	height: 480px;
}

/* footer */
footer{
	padding-top: 72px;
	background: #ededed;
}

.logo-footer{
	margin-bottom: 65px;
}

address {
	font-size: 14px;
	font-weight: 300;
}

address a{
	color: #0096d6;
}

address strong {
	font-weight: 700;
	font-size: 16px;
	color: #0096d6;
	margin-bottom: 10px;
	display: inline-block;
}

address i {
	color: silver;
}

address i:hover {
	color: #94c11f;
}


.rights-footer{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	border-top: 1px solid gray;
}

.rights-footer p {
	margin-top: 10px;
}


@media (min-width: 768px) {

}


/*
 * Affix and center
 */

@media (min-width: 768px) {

/*  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment *!/
  }*/
}

@media (min-width: 992px) {
/*  .cover-container {
    width: 700px;
  }*/
}

