html,
body {
  height: 100%;
  /*background-color: white;*/
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  color: #494949;
}

.margins{
	margin-top: 70px;
	margin-bottom: 35px;
}

.alert{
	margin-top: 20px;
}

/* --------- NAVBAR HEADER ------------ */
/*.navbar-inverse {
  background: transparent;  
}

.navbar {
	border: 0 solid transparent;
}*/

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #94c11f;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #94c11f;
  background-color: transparent;
}

nav .btn-default {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-color: white;
  border-radius: 0px;
  font-style: normal;
  font-size: 15px;
}

nav .btn-default:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-default.btn-active {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-default:active{
	color: #94c11f;
	background-color: white;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

nav .btn-linkedin {
	color: white;
	font-size: 18px;
	border: 0px none;
	border-radius: 0px;
}

nav .btn-linkedin:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-linkedin:focus {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

nav .btn-twitter {
	color: white;
	font-size: 18px;
	border: 0px none;
	border-radius: 0px;
	margin-left: -15px;
}

nav .btn-twitter:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-twitter:focus {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

nav .btn-facebook {
	color: white;
	font-size: 20px;
	border: 0px none;
	border-radius: 0px;
	margin-left: -15px;
}

nav .btn-facebook:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-facebook:focus {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

/* ------------- FOOTER ---------------- */
footer{
	background-color: #f7f7f7;
	padding-top: 42px;
}

.logo-footer{
	margin-bottom: 65px;
}

address {
	font-size: 14px;
	font-weight: 300;
}

address strong {
	font-weight: 700;
	font-size: 16px;
	color: #0096d6;
	margin-bottom: 10px;
	display: inline-block;
}

address i {
	color: silver;
}

address i:hover {
	color: #94c11f;
}

.rights-footer{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	border-top: 1px solid gray;
}

.rights-footer p {
	margin-top: 10px;
}

.modal-body{
	text-align: justify;
}
.lista-privacidad li{
	margin-top: 15px;
}
.h4mapscript{ margin-top: 20px; }
.hideshape{ display: none; }
.showshape{ display: block; }
.hidevisibility{ visibility: hidden; }
.showvisibility{ visibility: visible; }
label.has-error{ color:#A94442; }
label.has-error a{ color:#A94442; }
.centertext{ text-align: center; }
.spinnerloading{ margin-top: 30px !important; }
.loadingcancelshape{ margin-top: 0px !important; }
.no_mb{ margin-bottom: 0px !important; }
.mt20{ margin-top: 20px !important; }
.modal_body_mobile{
	font-size: 0.8em !important;
}
.modal_body_mobile h2{
	font-size: 0.8em !important;
}
.modal_body_mobile h3{
	font-size: 0.8em !important;
}
.controlText{
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: justify;
}
.controlText2{
	padding: 5px;
	margin-bottom: 5px;
	text-align: justify;
}
.gly_emks{ 
	font-size: 18px !important; 
	float: left;
	margin-left: 15px;
}
#input_franja_entrega{margin-bottom: 15px;}
.svcnclbtns{
	margin-top: 10px;
	
}
#controlsShapeContent p{
	margin-bottom: 15px;
}
#controlsShapeContent p:first{
	margin-bottom: 30px;
}
.ctrop{
	background-color: #EBEBEB;
	border-color: #ADADAD;
	color: #333333;
}
font.fs10{
	font-size: 10px;
}
.tjustify{
	text-align: justify;	
}
.nopadding{
	padding-left: 0px;
	padding-right: 0px;
}
.nopaddingleft{
	padding-left: 0px;
}
.nopaddingright{
	padding-right: 0px;
}
#input_franja_entrega_premium > a, #input_franja_entrega_premium_normales > a {text-align: center; cursor: pointer;}

#input_franja_entrega_premium_col{
	/*padding-right: 2px !important;*/
	margin-bottom: 15px;
}
#input_franja_entrega_premium_normales_col{
	/*padding-left: 2px !important;*/
	margin-bottom: 15px;
}
.h_franja_diurna{
	height: 266px;
}
.h_franja_diurna_aw{
	height: 99px;
}
.h_franja_manana{
	height: 166px;
}
.h_franja_tarde{
	height: 100px;
}
.h_franja_aw{
	height: 100px;
}
#btn_diurna_text{
	vertical-align: middle;
}
.lbl_franjas{
	width: 100%;
	text-align: center;
}
.makehover{
	cursor: pointer;
}