html,
body {
  height: 100%;
  /*background-color: white;*/
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  color: #494949;
}

.margins{
	margin-top: 70px;
	margin-bottom: 35px;
}

.alert{
	margin-top: 20px;
}

/* --------- NAVBAR HEADER ------------ */
/*.navbar-inverse {
  background: transparent;  
}

.navbar {
	border: 0 solid transparent;
}*/

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #94c11f;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #94c11f;
  background-color: transparent;
}

nav .btn-default {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-color: white;
  border-radius: 0px;
  font-style: normal;
  font-size: 15px;
}

nav .btn-default:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-default.btn-active {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-default:active{
	color: #94c11f;
	background-color: white;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

nav .btn-linkedin {
	color: white;
	font-size: 18px;
	border: 0px none;
	border-radius: 0px;
}

nav .btn-linkedin:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-linkedin:focus {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

nav .btn-twitter {
	color: white;
	font-size: 18px;
	border: 0px none;
	border-radius: 0px;
	margin-left: -15px;
}

nav .btn-twitter:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-twitter:focus {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

nav .btn-facebook {
	color: white;
	font-size: 20px;
	border: 0px none;
	border-radius: 0px;
	margin-left: -15px;
}

nav .btn-facebook:hover {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
}

nav .btn-facebook:focus {
	color: #94c11f;
	background-color: transparent;
	border-color: #94c11f;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

/* ------------- FOOTER ---------------- */
footer{
	background-color: #f7f7f7;
	padding-top: 42px;
}

.logo-footer{
	margin-bottom: 65px;
}

address {
	font-size: 14px;
	font-weight: 300;
}

address strong {
	font-weight: 700;
	font-size: 16px;
	color: #0096d6;
	margin-bottom: 10px;
	display: inline-block;
}

address i {
	color: silver;
}

address i:hover {
	color: #94c11f;
}

.rights-footer{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	border-top: 1px solid gray;
}

.rights-footer p {
	margin-top: 10px;
}

.modal-body{
	text-align: justify;
}
.lista-privacidad li{
	margin-top: 15px;
}
.h4mapscript{ margin-top: 20px; }