@CHARSET "UTF-8";

body {
    background-color: #FFFFFF;
    color: #878787;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
}

form{
	width:100%;
	float:left;
	margin-top: 15px;
}

.logo_ctn{
	text-align: center;
}
	.logo_ctn span{
		font-family: 'Arvo','Ubuntu',sans-serif;
		color: #868686;
	    font-size: 13px;
	    margin-top: 3px;
	    text-align: center;
	    text-transform: uppercase;
	    width: 270px;
	}
.footer_logo_ctn{
	text-align: center;
	padding: 10px;
}

h3 {
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 30px;
    margin: 20px 0 27px;
    text-transform: uppercase;
    color: #3A3A3A;
    font-family: 'Arvo','Ubuntu',sans-serif;
    font-weight: normal;
    text-align:center;
}

.lead {
    color: #3278CD;
    font-size: 14px;
    line-height: 21px;
}
.alignJustify{
	text-align: justify;
}
.errorMsg1{
	color: #9D261D;
    font-size: 11px;
    line-height: 14px;
    margin: 2px 0 2px 10px;
    min-width: 160px;
    position: relative;
}
.displaynone{ 
	display: none; 
}
.tk_data-line {
    color: #161616;
    display: inline-block;
    float: left;
    font-size: 16px;
    line-height: 21px;
    margin-right: 19px;
    text-align: left;
}
#datosPedido, #datosPedido2{ font-size: 16px !important; }
.statusPedido {
    font-weight: bold;
}